extends ../node_modules/pug-bootstrap/_bootstrap.pug

block body
	.container
		.header.clearfix
			nav
				ul.nav.nav-pills.pull-right
					li.active(role='presentation')
						a(href='#') Home
					li(role='presentation')
						a(href='#') About
					li(role='presentation')
						a(href='#') Contact
			h3.text-muted Impromptu Speaking
		.jumbotron
			h1 Victor Akanbi
			p.lead
					| All this website is is a display of my ability to talk about any random topic on demand and the use of lorem ipsum to fill space on a website and the useful funtionalities of that. Please feel free to ask me anything during my presentation, and theres no need to worry about throwing me off script since there is none. :)
		.row.marketing
			.col-lg-6
				+panel-primary("Lorem Ipsum") 
				script.
					
			.col-lg-6
				+panel-primary("Faker") 
					h4 Subheading
					p
						| Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
					h4 Subheading
					p
						| Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
					h4 Subheading
					p Maecenas sed diam eget risus varius blandit sit amet non magna.
			.col-lg-12
				+panel-primary("Super Hero") 
					h4 Subheading
					p
						| Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
					h4 Subheading
					p
						| Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
					h4 Subheading
					p Maecenas sed diam eget risus varius blandit sit amet non magna.
		footer.footer
			p © Company 2014

//- extends myapp/node_modules/pug-bootstrap/_bootstrap.pug
//- block body
//- 	h1 Put your own body content here

