extends ../node_modules/pug-bootstrap/layouts/starter
block body
	+nav-tabs([{text:"Home",href:'/index'},{text:"Profile",href:"/users"},],0)
	+panel-primary("Welcome to ") 
		p This is primary panel 
	+img-responsive("img/ironman.jpeg","Responsive Image")